@font-face {
    font-family: "FucXed";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fucxedcaps-v3-webfont.woff2") format("woff2"), url("fonts/fucxedcaps-v3-webfont.woff") format("woff");
    font-display: swap;
}

body {
    background: #21a73d;
    font-family: 'Crimson Text', Georgia, serif;
    font-size: 1.4rem;
    text-align: center;
}

.content {
    margin: 5% auto;
    max-width: 60rem;
    padding: 1rem;
}

h1 {
    margin: 0 0 1rem 0;
    font-family: 'FucXed', sans-serif;
    font-size: 1.8rem;
}

.logo {
    width: 16rem;
    height: 7rem;
    background: url('images/XR-logo.svg') no-repeat center;
    background-size: contain;
    margin: 0 auto 1.5rem auto;
}

nav {
    margin-top: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 0.5rem;
}
.icon {
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
.twitter {
    background-image: url('images/twitter.svg');
}
.insta {
    background-image: url('images/instagram.svg');
}
.youtube {
    background-image: url('images/youtube.svg');
}
.facebook {
    background-image: url('images/facebook.svg');
}

@media only screen and (min-width: 650px) {
    h1 {
        font-size: 2rem;
    }
    .logo {
        width: 20rem;
        height: 7rem;
        margin-bottom: 3rem;
    }
    nav {
        margin-top: 3rem;
    }
    .icon {
        width: 3rem;
        height: 3rem;
    }
}
